footer > .footerText > p {
    margin: 0 auto;
    padding: .5em 0 .5em .5em;
    font-size: .9rem;
}

@media (max-width: 600px) {
    progress {
        width: 10em;
    }
    div.progressbar::before {
        padding: 0 5em;
    }
    footer > .footerText > p {
        font-size: .8rem;
    }
}

@media (max-width: 460px) {
    footer > .footerText > p {
        font-size: .6rem;
        line-height: 3;
    }
}
