<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Askia - software for surveys">
    <title>{%= currentADP.propValue("window_title")%}</title>
    <askia-head />
    <!-- TODO All favicons -->
    <!-- TODO ADD -> All social media metadata -->
</head>

<body class="AdpWrapper">
    <header>
        <div id="headerContent">
            {% if currentADP.propValue("page_title") <> "" then %}
            <p class="surveyTitle">{%= currentADP.propValue("page_title") %}</p>
            {% end if %}
            {% if currentADP.propValue("logo_src") <> "" then %}
            <img src="{%= currentADP.propValue("logo_src")%}" alt="{%= currentADP.propValue("logo_alt")%}" />
            {% end if %}
        </div>
    </header>
    <!--- ASKIA FORM BEGINS HERE --->
    <askia-form>
        <div class="caption">
            {% If CurrentQuestions.Errors.Count Then %}
            <div class="askia-errors-summary">
                <p>This page contains one or several errors</p>
                <ul>
                    {% Dim errorIndex = 1
                    For errorIndex = 1 To CurrentQuestions.Errors.Count %}
                    <li>{%= CurrentQuestions.Errors[errorIndex].Message %}</li>
                    {% Next %}
                </ul>
            </div>
            {% End If %}
            <p class="instruction">Select as many responses as you want</p>
        </div>
        <askia-questions />
        <div class="navigation">
            {% If CurrentADP.Var("display_previous") = True Then %}
            <button type="submit" class="previous" title="Go back to the previous question">Back</button>
            {%end if%}
            <button type="submit" class="next" title="Go to the next question">Next</button>
        </div>
    </askia-form>
    <!--- ASKIA FORM ENDS HERE --->
    <footer>
        <div class="footerText">
            <p>{%= CurrentADP.Var("footer_text") %}</p>
        </div>
        <div class="progressbar">
            <progress max="100" value="{%= Interview.Progress%}"></progress>
        </div>
    </footer>
</body>

</html>
